<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="#">Keto Eating</a>

  <form class="form-inline my-2 my-lg-0" action="/">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="term">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <ul class="nav navbar-nav navbar-right">
    <div class="nav-links"></div>
      <li><a href="/logout" class="btn btn-danger">Logout</a></li>
      <li><a href="/login" class="btn btn-success">Login</a></li>
      <li><a href="/sign-up" class="btn btn-info">Sign Up</a></li>
    </div>
  </ul>
</nav>
