<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar">

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/">Keto Eating</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!--md-auto pushes all to the left-->

		<form class="form-inline">
			<input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search" name="term">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>


		<!--ml-auto pushes all to the right-->
		<ul class="navbar-nav ml-auto">

			<div class="nav-links">
        <!-- show these links if the user is logged in  -->
				{{# if user}}
					<li class="nav-item active">
						<a class="nav-link nav-dash" href="/dashboard">Dashboard</a>
					</li>
					<li class="nav-item">
						<a href="/cart" class="nav-link nav-cart">Cart</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link nav-logout">Logout</a>
					</li>
          <!-- show these links if the user is not logged in -->
				{{else}}
					<li><a href="/signup" class="btn btn-success">Sign Up</a></li>
					<li><a href="/login" class="btn btn-secondary">Login</a></li>
				{{/if}}
			</div>
		</ul>

	</div>




</nav>
