<a href="/dashboard">Dashboard</a> > <a href='/dashboard/favorites'>Favorites</a><br><br>
{{#if username}}
<h1>{{username}}'s Favorites</h1>
<hr>
{{else}}
<h1>My favorites</h1>
<hr>
<a href="/login">Login</a> to view your own favorites.
Or you can view <a href="/favorites">public favorites</a>.
{{/if}}
{{#if username}}
  {{>favorites}}
{{/if}}
