<div class="favorites-container">
	<a href="/dashboard">Dashboard</a> > <a href='/dashboard/favorites'>Favorites</a>
	<h1>My Favorites</h1>
	<hr>
	{{#if user}}
	{{else}}
	  <a href="/login">Login</a> to view your own favorites.
	{{/if}}
	{{#if user}}
	  {{>recipe-cards}}
	{{/if}}
</div>
