@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --light-blue: #61dafb;
  --light-green: #5cb85c;
  --charcoal: #282c34;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: var(--charcoal);
  background-image: url('./roasted-zuc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--light-blue);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
