<div class="cart-container">

	<a href="/dashboard">Dashboard</a> > <a href='/dashboard/cart'>Cart</a>
	<div class="flex-div">
		<h1>My Cart</h1>
		<a href="/cart/grocery-list"><button class="btn btn-success checkout-btn">Create Grocery List</button></a>
	</div>
	<hr>
	{{#if @root.user}}
	{{else}}
		<a href="/login">Login</a> to view your own cart.
	{{/if}}
	{{#if @root.user}}
		{{>recipe-cards}} <!-- current showing all favorites, need to narrow down to user's only -->
	{{/if}}
</div>
