<div class="dashboard-container">
	<a href="/dashboard" class='dash-brd-crum' >Dashboard</a>
	<div class="btn-container">
		<a href="/favorites"><button class="fav-btn dash-btn">favorites</button></a>
		<button class="cart-btn dash-btn">cart</button>
	</div>

	<div class="dash-content">
		<h1>Dashboard</h1>

		<h2>Account Details:</h2>

		<ul>
		  <li>Username: {{user.username}}</li>
		  <li>Password: ****** <!--(change password) --></li>
		</ul>
	</div>
</div>
