<div class="dashboard-container">
	<a href="/dashboard" class='dash-brd-crum' >Profile</a>
	<div class="dash-content">
		<h2>Account Details</h2>
		<ul>
		  <li>Username: {{user.username}}</li>
		  <li>Password: ****** <!--(change password) --></li>
		</ul>
		<form action="delete-user" method="POST" class="signup-form">
			<div class="form-btns">
				<button class="btn btn-success signup-btn" type="submit">Update password</button>
				<button class="btn btn-light btn-delete " role="button" type="submit">Delete Account</button>
			</div>
		</form>

	</div>
</div>
