<a href="/dashboard">Dashboard</a> ><br><br>
<h1>Dashboard</h1>
<hr>
<h2>Account Details:</h2>
<hr>

<ul>
  <li>Username: {{user.username}}</li>
  <li>Password: ****** <!--(change password) --></li>
</ul>
<br>
<h2>My Favorites:</h2>

<hr>
  {{>recipe-cards}}
  <a href="/dashboard/favorites">View All My Favorites</a>
