<a href="/dashboard" class='dash-brd-crum' >Profile</a>
<div class="signup-form">
	<div class="sign-up-form">
		<h2>Account Details</h2>
		<p>Username: {{user.username}}</p>
		<p>Password: ****** <!--(change password) --></p>

		<div class="form-btns dash-btns">
			<a href='/delete-account' class="btn btn-success signup-btn">Update password</a>
			<a href='/delete-user' class="btn btn-light btn-delete">Delete Account</a>
		</div>

	</div> <!-- sign-up-form -->
</div> <!-- container -->
