{{# if username}}
  <h1>{{username}}'s Favorites</h1>
{{else}}
  <h1>My Favorites</h1>
  <p><a href="/login">Login</a> to view your <strong>own</strong> favorites.</p>
{{/if}}

<ul>
    {{#each favorites as |favorite|}}
        <li>{{favorite.recipeName}}</li>
    {{/each}}
</ul>
