<div class="cart-container">

	<a href='/cart'>Cart</a> > <a href="">Grocery List</a>
	<h1 class="">Grocery List</h1>
	<hr>
	<p class="page-explanation">
		This combined grocery list was automatically created from the recipes in
		your <a href='/cart'>cart</a>
	</p>
	{{#if @root.user}}
	{{else}}
		<a href="/login">Login</a> to view your own grocery list.
	{{/if}}
	{{#if @root.user}}
    {{#each ingredients as |ingredient|}}
      <ul>
				<input type="checkbox"> <!-- TODO: POST request to save whether checked -->
				<span class="ingredient-qty">{{ingredient.[0]}}</span>
				<span class="ingredient-meas">{{ingredient.[1]}}</span> <!-- (ex: tsp) -->
				<span class="ingredient-desc">{{ingredient.[2]}}</span> <!-- (ex: 'sugar') -->
      </ul>
    {{/each}}
	{{/if}}
</div>
