<div class="card-deck">
  {{#each recipes}}
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{this.recipe.image}}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{this.recipe.label}}</h4>
            {{#each this.recipe.ingredients}}
              <li class="card-text">{{this.text}}</li>
            {{/each}}
          </div>
          <a href="#">
            <div class="card-footer">Go somewhere</div>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
