<div class="container">
  <span>
    <form action="/login" method="POST" class="signup-form">
      <legend>LOGIN</legend>

      <!--Username-->
      <div class="form-group">
        <label for="username"></label>
        <input class="form-control" type="text" name="username" placeholder="Username">
      </div>

      <!--Password-->
      <div class="form-group">
        <label for="password"></label>
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>

      <!--Button-->

      <button class="btn btn-default signup-btn" type="submit">Login</button>
      <a href="/" class="btn btn-default" role="button">Cancel</a>

    </form>
    </span>
</div>