<div class="login-container">
  <form action="/login" method="POST" class="signup-form">
    <legend class="form-legend">Log In</legend>
    <p class="form-title">Login to view your dashboard and favorites</p>

    <!--Username-->
    <div class="form-group">
      <label for="username"></label>
      <input class="form-control" type="text" name="username" placeholder="Username">
    </div>

    <!--Password-->
    <div class="form-group">
      <label for="password"></label>
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>

    <!--Buttons-->
		<div class="form-btns">
	    <button class="btn btn-success signup-btn" type="submit">Login</button>
	    <a href="/" class="btn btn-light" role="button">Cancel</a>
		</div>
  </form>
</div>
