<span>
  <form action="/signup" method="POST" class="signup-form">
    <legend>Sign Up</legend>
    <p>Sign up to save your favorites</p>

    <!--Username-->
    <div class="form-group">
      <label for="username"></label>
      <input class="form-control" type="text" name="username" placeholder="Username">
    </div>

    <!--Password-->
    <div class="form-group">
      <label for="password"></label>
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>

    <!--Button-->

    <button class="btn btn-success signup-btn" type="submit">Sign Up</button>
    <a href="/" class="btn btn-light" role="button">Cancel</a>

  </form>
</span>
