<div class="login-container">
  <form action="/signup" method="POST" class="signup-form">
    <legend class="form-legend">Sign Up</legend>
    <p class="form-title">Sign up to save your favorites</p>

    <!--Username-->
    <div class="form-group">
      <label for="username"></label>
      <input 
        class="form-control" 
        type="text" 
        name="username" 
        placeholder="Username" 
        autocomplete="email"
        required
      >
    </div>

    <!--Password-->
    <div class="form-group">
      <label for="password"></label>
      <input 
      class="form-control"
      type="password" 
      name="password" 
      placeholder="Password" 
      autocomplete="new-password"
      required
    >
    </div>

    <!--Buttons-->
		<div class="form-btns">
	    <button class="btn btn-success signup-btn" type="submit">Sign up</button>
	    <a href="/" class="btn btn-light" role="button">Cancel</a>
		</div>
  </form>
</div>

