<div class="login-container">
  <form action="/update-password" method="POST" class="signup-form">
    <legend class="form-legend">Update Password</legend>
    <p class="form-title">Enter your credentials to change your password</p>

    <!-- Old Password -->
    <div class="form-group">
      <label for="username"></label>
      <input class="form-control" type="text" name="username" placeholder="username" required>
    </div>

    <!-- New Password -->
    <div class="form-group">
      <label for="new-password"></label>
      <input class="form-control" type="password" name="password" placeholder="new password" required>
    </div>
    <!-- New Password Confirm -->
    <div class="form-group">
      <label for="verify-password"></label>
      <input class="form-control" type="password" name="verify" placeholder="confirm password" required>
    </div>

    <!--Buttons-->
		<div class="form-btns">
	    <button class="btn btn-success signup-btn" type="submit">Update</button>
	    <a href="/" class="btn btn-light" role="button">Cancel</a>
		</div>
    <p class='text-danger text-warning'>Warning, this can not be undone. Are you sure?</p>
  </form>
</div>