@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
}

img {
    padding-top: 1rem;
}

.container {

}

.card {
	/* border: 1rem solid black;

	border-radius: 3rem; */
}

.card-footer {
	background-color:green;
	color:white;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.btn {
	margin-right: 1rem;
}
