@import url('https://fonts.googleapis.com/css?family=Roboto');

/** FULL PAGE **/
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  width: 100%;
  heigh: 100%;
}

.body-container {
  width: 100%;
  height: 100%;
}

.favorites-container {
  padding: 2rem;
  margin: 2rem;
}


a, a li, a:hover {
  text-decoration: none;
}

.signup-form {
  margin: 0 3rem;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: calc(200px - 1rem);
}

.form-group {
  position: relative;
  width: 70%;
  max-width: 400px;

}
.form-legend {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.form-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.form-btns {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
}

.btn {
  margin: 1rem;
  position: relative;
  min-width: calc(200px - 1rem);
}

/** NAVBAR **/
.search-bar {
  min-width: 215px !important;
  /** to ensure placeholder text is visible **/
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

/** CARDS **/
.card {
  margin-bottom: 1em !important;
}

.save-to-faves-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
  color: white;
  /* change this white to a green border with white inside */
  border:none;
  background: none;
}

.save-to-faves-heart:hover {
  color: #e74c3c;
  font-weight: bold;
  cursor: pointer;
  /* background-color:red; */
}

.save-to-faves-heart.favorited {
  color:#e74c3c;
}

.card-deck {
  padding: 2rem;
  margin: 2rem;
}

.card-title {
  color: #343a40;
  display: block;
  display: -webkit-box;
  height: 2.5em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title:hover {
  color: green;
  text-decoration: underline;
}

.time-left-subheader {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  color: grey;
}

.clock-icon {
  padding: 0;
  margin-bottom: 0;
  height: 1em;
  width: 1em;
}

.cooking-time {
  margin-left: 0.33em;
}

.ingredients-container {
  display: block;
  display: -webkit-box;
  height: 12em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
}

.card-footer:hover {
  background-color: grey;
}

/** DASHBOARD **/
#dashboard-favorite-img {
  /*background-color: red;*/
  max-height: 5em;
  object-fit: cover;
}


.dashboard-container {
  content: "";
  clear: both;
  width: 100%;
  height: 100%;
  margin: 2rem;
}

.btn-container {
  margin-top: 2rem;
}

.dash-content {
  margin-top: 2rem;
}

.dash-btn {
  margin-right: 1rem;
  width: 25rem;
  height: 20rem;
  position: relative;
  background-size: cover;
  border: 0 solid white;
  border-radius: 2rem;
  box-shadow: 3px 3px 3px grey;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px #000;
}

.fav-btn {
  background-image: linear-gradient(rgba(44, 62, 80,.3), rgba(44, 62, 80,.3)), url('../img/Keto-Diet.jpg');
}

.cart-btn {
  background-image: linear-gradient(rgba(44, 62, 80,.3), rgba(44, 62, 80,.3)), url('../img/meal-prep.jpg');
}

.dash-btn.focus, .dash-btn:focus {
  outline: 0;
  box-shadow: none!important;
}

/*FIXME: make this more finessed*/
@media (min-width: 1024px) {
  .signup-form {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 1200px) {
  .signup-form {
    padding-left: 20rem;
    padding-right: 20rem;
  }

}
