@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
}

img {
    padding-top: 1rem;
}

a li {
	text-decoration: none;
}

.container {

}

.card-title {
	color:#343a40;
}

.card-title:hover {
	color:green;
	text-decoration: underline;
}

.time-left-subheader {
	display:flex;
	align-items:center;
	margin-bottom:1em
	color:grey;
}

.clock-icon {
	padding: 0;
	margin-bottom: 0;
	height:1em;
	width:1em;
}

.cooking-time {
	margin-left: 0.33em;
}

.card-footer {
	background-color:green;
	color:white;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
