<div class="error">
  <h2>{{message}}</h2>
  <h5>(Error code: {{error.status}})</h5>
  <button onclick="goBack()" class="btn btn-success">Go Back</button>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>
